.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  cursor: pointer;
}

.App {
  background-color: #18191A;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: #AAAAAA;
}

.Content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.App-link {
  color: #4599FF;
}
